@use "../base/index" as *;
@use "../abstracts/index" as *;

header,
main,
footer {
    min-width: 320px;
}

article section,
header nav {
    margin: 0 auto;
}

article {
    max-width: 100%;
}

#Subscriber-Panel {
    bottom: 0;
    min-width: 320px;
    width: 100%;
}

#map {
    border-radius: 15px;
    height: 100%;
    width: 100%;
}

.hero-content-container {
    min-height: 100%;
    max-width: 100%;

    .hero-content-wrapper-left {

        .hero-text-wrapper > * {
            margin-bottom: 2rem;
        }
    }
    
    .hero-content-wrapper-right {
        
    }
}

.news-letter-content-container {
    justify-content: space-between;

    .news-input {
       max-width: 30rem;
       margin: 0 auto;
    }
}

#Enrollment-Cards-Wrapper > * {
    // height: 100%;
    // top: 0%;
    // bottom: 0%;
}

.enrollment-card {
    // bottom: 0;
    // height: inherit;
    // justify-content: space-between;
}

.box-shadow {
    box-shadow: 0 0 5px rgba(0, 0, 0, .3);
}